<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2503130529651881",
            enable_page_level_ads: true
          });
    </script>
    <title>{{ page.title }}</title>
    <meta name="description" content="EmrysPage에서 제공하는 IT 기술 공부 블로그입니다.
    초심자를 위한 내용으로 가득채울 예정입니다. 되도록이면 최신의 트렌드와 기술 정보들을 다루도록 노력하겠습니다.
    Java, Spring, HTML, CSS, Javascript, Node, Angular, React 등을 다루는 블로그입니다.
    프로그래밍, 알고리즘 등도 다룹니다.">
    <meta name="keywords" content="Java, Spring, HTML, CSS, JavaScript, Node">
    <meta http-equiv="refresh" content="300">
    <meta name="author" content="Emrys">
</head>
