<section style="align-content:center">
    <h1 style="font-size:2.5em; font-weight:bolder"><a href="https://classorder.github.io">Class Order</a></h1>
    <p>EmrysPage for IT</p>
    <p>
    <a href="https://validator.kldp.org/check?uri=referer"
      onclick="this.href=this.href.replace(/referer$/,encodeURIComponent(document.URL))"><img
      src="//validator.kldp.org/w3cimgs/validate/html5-blue.png" alt="Valid HTML 5" height="15" width="80"></a>
    </p>
    <p>
    <a href="https://css-validator.kldp.org/check/referer">
        <img style="border:0;width:80px;height:15px"
            src="https://css-validator.kldp.org/images/validate/css-green"
            alt="올바른 CSS입니다!" />
    </a>
    </p>
</section>
