---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
</head>
<body>
    <ul>
    {% for post in site.posts %}
        <li>
            <span>{{ post.date | date_to_string }}</span>
            <a href="/Blog{{ post.url }}">{{ post.title }}</a>
            {{ post.excerpt }}
        </li>
    {% endfor %}
    </ul>

    <!-- <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% else %}
            <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
            <span class="next ">Next</span>
        {% endif %}
    </div> -->
</body>
</html>